---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4975'
      X-Ratelimit-Reset:
      - '1585273141'
      Etag:
      - W/"64c65e14760092bc39951e9cc92d6413"
      X-Oauth-Scopes:
      - admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key,
        admin:repo_hook, delete:packages, delete_repo, gist, notifications, read:packages,
        repo, user, workflow, write:discussion, write:packages
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":225453333,"node_id":"MDEwOlJlcG9zaXRvcnkyMjU0NTMzMzM=","name":"battleship","full_name":"alerrian/battleship","private":false,"owner":{"login":"alerrian","id":21130370,"node_id":"MDQ6VXNlcjIxMTMwMzcw","avatar_url":"https://avatars1.githubusercontent.com/u/21130370?v=4","gravatar_id":"","url":"https://api.github.com/users/alerrian","html_url":"https://github.com/alerrian","followers_url":"https://api.github.com/users/alerrian/followers","following_url":"https://api.github.com/users/alerrian/following{/other_user}","gists_url":"https://api.github.com/users/alerrian/gists{/gist_id}","starred_url":"https://api.github.com/users/alerrian/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/alerrian/subscriptions","organizations_url":"https://api.github.com/users/alerrian/orgs","repos_url":"https://api.github.com/users/alerrian/repos","events_url":"https://api.github.com/users/alerrian/events{/privacy}","received_events_url":"https://api.github.com/users/alerrian/received_events","type":"User","site_admin":false},"html_url":"https://github.com/alerrian/battleship","description":null,"fork":false,"url":"https://api.github.com/repos/alerrian/battleship","forks_url":"https://api.github.com/repos/alerrian/battleship/forks","keys_url":"https://api.github.com/repos/alerrian/battleship/keys{/key_id}","collaborators_url":"https://api.github.com/repos/alerrian/battleship/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/alerrian/battleship/teams","hooks_url":"https://api.github.com/repos/alerrian/battleship/hooks","issue_events_url":"https://api.github.com/repos/alerrian/battleship/issues/events{/number}","events_url":"https://api.github.com/repos/alerrian/battleship/events","assignees_url":"https://api.github.com/repos/alerrian/battleship/assignees{/user}","branches_url":"https://api.github.com/repos/alerrian/battleship/branches{/branch}","tags_url":"https://api.github.com/repos/alerrian/battleship/tags","blobs_url":"https://api.github.com/repos/alerrian/battleship/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/alerrian/battleship/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/alerrian/battleship/git/refs{/sha}","trees_url":"https://api.github.com/repos/alerrian/battleship/git/trees{/sha}","statuses_url":"https://api.github.com/repos/alerrian/battleship/statuses/{sha}","languages_url":"https://api.github.com/repos/alerrian/battleship/languages","stargazers_url":"https://api.github.com/repos/alerrian/battleship/stargazers","contributors_url":"https://api.github.com/repos/alerrian/battleship/contributors","subscribers_url":"https://api.github.com/repos/alerrian/battleship/subscribers","subscription_url":"https://api.github.com/repos/alerrian/battleship/subscription","commits_url":"https://api.github.com/repos/alerrian/battleship/commits{/sha}","git_commits_url":"https://api.github.com/repos/alerrian/battleship/git/commits{/sha}","comments_url":"https://api.github.com/repos/alerrian/battleship/comments{/number}","issue_comment_url":"https://api.github.com/repos/alerrian/battleship/issues/comments{/number}","contents_url":"https://api.github.com/repos/alerrian/battleship/contents/{+path}","compare_url":"https://api.github.com/repos/alerrian/battleship/compare/{base}...{head}","merges_url":"https://api.github.com/repos/alerrian/battleship/merges","archive_url":"https://api.github.com/repos/alerrian/battleship/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/alerrian/battleship/downloads","issues_url":"https://api.github.com/repos/alerrian/battleship/issues{/number}","pulls_url":"https://api.github.com/repos/alerrian/battleship/pulls{/number}","milestones_url":"https://api.github.com/repos/alerrian/battleship/milestones{/number}","notifications_url":"https://api.github.com/repos/alerrian/battleship/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/alerrian/battleship/labels{/name}","releases_url":"https://api.github.com/repos/alerrian/battleship/releases{/id}","deployments_url":"https://api.github.com/repos/alerrian/battleship/deployments","created_at":"2019-12-02T19:34:15Z","updated_at":"2019-12-11T18:45:36Z","pushed_at":"2019-12-11T18:45:34Z","git_url":"git://github.com/alerrian/battleship.git","ssh_url":"git@github.com:alerrian/battleship.git","clone_url":"https://github.com/alerrian/battleship.git","svn_url":"https://github.com/alerrian/battleship","homepage":null,"size":107,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":null,"forks":0,"open_issues":0,"watchers":1,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":249503217,"node_id":"MDEwOlJlcG9zaXRvcnkyNDk1MDMyMTc=","name":"brownfield-of-dreams","full_name":"holmesm8/brownfield-of-dreams","private":false,"owner":{"login":"holmesm8","id":12539215,"node_id":"MDQ6VXNlcjEyNTM5MjE1","avatar_url":"https://avatars0.githubusercontent.com/u/12539215?v=4","gravatar_id":"","url":"https://api.github.com/users/holmesm8","html_url":"https://github.com/holmesm8","followers_url":"https://api.github.com/users/holmesm8/followers","following_url":"https://api[...]
[...]
